@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);

  --header-height: 300px;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 240px;
  }
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}
